{% extends 'rango/base_bootstrap.html'%}
{% load staticfiles %}
{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          You've visited this site: {{ visits }} time(s)
          <h1> About Rango </h1> <a href="{% url 'index'%}"> Home </a>
          <img src="{% static 'images/rango_friends.jpg' %}" alt="Rango and Friends" class="img-fluid img-rounded"/>
          <br>
          <h4> {{ create_message }} Dingo </h4>
          <br>
          <img src="{{MEDIA_URL}}cat_wrap.jpg" alt="" class="img-fluid img-rounded"/>
          <br>
          <h4> This cat will NOT be eaten </h4>
        </div>
      </div>
    </div>

{% endblock %}
